*{
    margin: 0%;
    padding: 0%;
}


/*body {
    background-color: #0d0d0d;
    color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

/* ======== App Background ======== */
[data-testid="stAppViewContainer"] {
   /* background: linear-gradient(180deg, #0d0d0d 0%, #1a1a1a 100%);*/
     background-image:url("https://images.unsplash.com/photo-1483982258113-b72862e6cff6?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bW92aWUlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500.jpg");
}

/* ======== Sidebar (if used later) ======== 
[data-testid="stSidebar"] {
    background-color: #1c1c1c;
    /*border-right: 1px solid #333;*/


/*[data-testid="stSidebar"] h2, 
[data-testid="stSidebar"] p, 
[data-testid="stSidebar"] label {
    color: #ffffff;
}

/* ======== Titles & Text ======== */
h1 {
    color:red;
    text-align: center;
    background-color:#888 ;
    border-radius: 6pc;
    text-shadow: 2px 2px 8px rgba(77, 74, 74, 0.692);
    font-weight: 700;
    letter-spacing: 1px;
}

h2, h3, .st-subheader {
    text-decoration: white;
    background-color: #888;
    text-align: center;
    border-radius: 8pc;

}

p, label, .stMarkdown {
    color:white;
    font-size: 2rem;
}

/* ======== Dropdown (Selectbox) ======== */
[data-baseweb="select"] {
    background-color: #1a1a1a;
    color: white;
    border-radius: 8px;
}

[data-baseweb="select"]:hover {
    box-shadow: 0px 0px 5px rgba(255, 204, 0, 0.4);
}

/* ======== Buttons ======== */
div.stButton > button {
    background-color: #ffcc00;
    color: #000;
    font-weight: 600;
    border-radius: 6px;
    padding: 0.6em 1.2em;
    transition: all 0.3s ease;
    border: none;
}

div.stButton > button:hover {
    background-color: #ffdb4d;
    transform: scale(1.05);
    color: #000;
}

/* ======== Recommendation Cards ======== */
/*.movie-card {
    background-color: #1a1a1a;
    border-radius: 12px;
    padding: 1em;
    margin: 0.5em 0;
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
}

.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 30px rgba(255, 204, 0, 0.2);
}

/* ======== Footer ======== */
footer, .stMarkdown:last-child {
    color:white;
    text-align: center;
    font-size: 0.9em;
    margin-top: 3em;
}